{% extends "blocks/block" %}

{% set code = craft.app.request.getRequiredParam('code') %}
{% set id = craft.app.request.getRequiredParam('id') %}

{% block content %}
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('users/set-password') }}
        {{ hiddenInput('code', code) }}
        {{ hiddenInput('id', id) }}

        <label for="new-password">New Password</label>
            {{ input('password', 'newPassword', null, {
            id: 'new-password',
        }) }}

        {% if errors is defined %}
            {{ ul(errors, {class: 'errors'}) }}
        {% endif %}

        <button type="submit">Submit</button>
    </form>
{% endblock %}
