{% extends "blocks/block" %}

{% block content %}
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('users/send-password-reset-email') }}
        {{ redirectInput('') }}

        <label for="loginName">Username or email</label>
        {{ input('text', 'loginName', loginName ?? craft.app.user.rememberedUsername, {
            id: 'loginName',
            autocomplete: 'username',
        }) }}

        {% if errors is defined %}
            {{ ul(errors, {class: 'errors'}) }}
        {% endif %}

        <button type="submit">Submit</button>
    </form>
{% endblock %}