{% macro truncateChars(text, length, suffix) %}
    {% spaceless %}
    {% autoescape false %}
    {% if text and length %}
        {% set text = text|striptags %}
        {% set suffix = suffix|default('') %}
        {% set stringy = create(
            "Stringy\\Stringy",
            [text]
        ) %}
        {{ stringy.safeTruncate(length, suffix) }}
    {% endif %}
    {% endautoescape %}
    {% endspaceless %}
{% endmacro %}

{% macro assetLink(asset, options) %}
    <a href="{{ asset.url }}"{% if options.newTab ?? false %} target="_blank"{% endif %}{% if options.download ?? false %} download{% endif %}>
        {% set label = options.label ?? 'title' %}
        {% if label == 'title' %}
            {{ asset.title }}
        {% elseif options.label == 'filename' %}
            {{ filename }}
        {% else %}
            {{ options.custom ? 'no label' }}
        {% endif %}
    </a>
{% endmacro %}