{% macro truncateChars(text, length, suffix) %}
    {% spaceless %}
    {% autoescape false %}
    {% if text and length %}
        {% set text = text|striptags %}
        {% set suffix = suffix|default('') %}
        {% set stringy = create(
            "Stringy\\Stringy",
            [text]
        ) %}
        {{ stringy.safeTruncate(length, suffix) }}
    {% endif %}
    {% endautoescape %}
    {% endspaceless %}
{% endmacro %}

{% macro assetLink(asset, options) %}
    <a href="{{ asset.url }}" {% if options.newTab %}target="_blank"{% endif %} {% if options.download %}download{% endif %}>
        {% if options.label == 'title' %}
            {{ asset.title }}
        {% elseif options.label == 'filename' %}
            {{ asset.filename }}
        {% else %}
            {{ options.custom }}
        {% endif %}
    </a>
{% endmacro %}