{% extends "fields/_field" %}

{% macro assetLink(asset, options) %}
    <a href="{{ asset.url }}"{% if options.newTab ?? false %} target="_blank"{% endif %}{% if options.download ?? false %} download{% endif %}>
        {% set label = options.label ?? 'title' %}
        {% if label == 'title' %}
            {{ asset.title }}
        {% elseif options.label == 'filename' %}
            {{ asset.filename }}
        {% else %}
            {{ options.custom ?? 'no label' }}
        {% endif %}
    </a>
{% endmacro %}

{% block content %}
    {% if displayer.limit == 1 %}
        {{ _self.assetLink(value.0, options) }}
    {% else %}
        <ul class="asset-list">
            {% for asset in value %}
                <li class="asset-list-item">{{ _self.assetLink(asset, options) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}