{% extends "fields/_field" %}

{% set show_field = value|length > 0 %}

{% block content %}
    <{{ options.tag }}>
        {% if options.linked and element.url %}
            <a href="{{ element.url }}"{% if options.newTab %} target="_blank"{% endif %}>{{ value }}</a>
        {% else %}
            {{ value }}
        {% endif %}
    </{{ options.tag }}>
{% endblock %}