{% import "_includes/forms" as forms %}

{% set title = 'Themes settings'|t('themes') %}

{{ 
    forms.lightswitchField({
        label: 'Devel mode'|t('themes'),
        name: 'devMode',
        on: settings.devMode,
        instructions: 'Shows all the available templates and variables on the front end as Html comments. Always off on production no matter what is chosen here.'|t('themes')
    }) 
}}
{{ 
    forms.lightswitchField({
        label: 'Eager loading'|t('themes'),
        name: 'eagerLoad',
        on: settings.eagerLoad,
        instructions: 'Eager load all visible fields automatically.'|t('themes'),
        warning: "The themes plugin's templates expect fields to be eager-loaded"|t('themes')
    }) 
}}

<h2>{{ 'Install'|t('themes') }}</h2>
{% if settings.installed %}
    <p>{{ 'Re-install themes data. This can be useful to fix broken states, it will create missing layouts/displays and remove orphans' }}</p>
    <button href="{{ url('themes/ajax/install') }}" class="btn submit install">{{ 'Re-install'|t('themes') }}</button>
    <div class="spinner layouts-spinner" style="display:none"></div>
{% else %}
    <p>{{ 'Install themes data' }}</p>
    <button href="{{ url('themes/ajax/install') }}" class="btn submit install">{{ 'Install'|t('themes') }}</button>
    <div class="spinner layouts-spinner" style="display:none"></div>
{% endif %}