{% import "_includes/forms" as forms %}

{% set title = 'Themes settings'|t('themes') %}

{{
    forms.selectField({
        label: 'Main menu goes to :'|t('themes'),
        options: settings.redirectToOptions,
        value: settings.redirectTo,
        name: 'redirectTo',
        fieldClass: 'first'
    })
}}

{% if isPro %}
    <h2>{{ 'Install'|t('themes') }}</h2>
    <p>{{ 'Re-install themes data. This can be useful to fix broken states, it will create missing layouts/fields/displays and remove orphans'|t('themes') }}</p>
    <button href="{{ url('themes/ajax/install') }}" class="btn submit install">{{ 'Re-install'|t('themes') }}</button>
    <div class="spinner layouts-spinner" style="display:none"></div>
{% endif %}