{% extends "_layouts/cp" %}

{% set allowChanges = craft.app.config.general.allowAdminChanges %}
{% set canManageDisplay = isPro and currentUser.can('manageThemesDisplay') %}
{% set canManageBlocks = isPro and currentUser.can('manageThemesBlocks') %}

{% block content %}
    <div class="themes">
        {% if themes|length %}
        	{% for theme in themes %}
                {% set hasSettings = allowChanges and theme.hasCpSettings and currentUser.admin %}
                {% set manageDisplay = allowChanges and canManageDisplay and not theme.isPartial %}
                {% set manageBlocks = allowChanges and canManageBlocks and not theme.isPartial %}
                {% set hasPreview = theme.hasPreview %}
                <div class="theme">
                    <div class="preview {{ hasPreview ? '' : 'no-preview' }}">
                        <img src="{{ theme.getPreviewimage() }}" />
                        {% if not hasPreview %}
                            <p class="no-preview-p">{{ 'No preview available'|t('themes') }}</p>
                        {% endif %}
                    </div>
                    <div class="infos">
                        <div class="fullwidth name">
                            <span><b>{{ theme.name }}</b> {{ theme.version }}</span>
                            {% if hasSettings or manageDisplay or manageBlocks %}
                                <span>
                                    <span data-icon="settings" class="btn menubtn"></span>
                                    <div class="menu">
                                        <ul>
                                            {% if hasSettings %}
                                                <li><a href="{{ url('settings/plugins/'~theme.handle) }}">{{ "Settings"|t('app') }}</a></li>
                                            {% endif %}
                                            {% if manageDisplay %}
                                                <li><a href="{{ url('themes/display/'~theme.handle) }}">{{ "Manage display"|t('themes') }}</a></li>
                                            {% endif %}
                                            {% if manageBlocks %}
                                                <li><a href="{{ url('themes/blocks/'~theme.handle) }}">{{ "Manage blocks"|t('themes') }}</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </span>
                            {% endif %}
                        </div>
                        {% if theme.name != theme.description %}
                            <div class="description">
                                {{ theme.description }}
                            </div>
                        {% endif %}
                        <div class="partial">
                            {{ theme.isPartial ? 'Partial theme'|t('themes') : 'Full theme'|t('themes') }}
                        </div>
                        <div class="extends fullwidth">
                            {% set parent = theme.getParent() %}
                            {% if parent %}
                                {{ 'Extends from {theme}'|t('site', {theme: parent.name}) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>{{ 'No themes are currently installed'|t('site') }}</p>
        {% endif %}
    </div>
{% endblock %}
